body {
    margin: 0%;
    padding: 0%;
    background-color: #ffdfd3;
    height: 100vh;
}
h1{
  text-align: center;
}

.container{
    display: flex;
    justify-content: center;
    
}
main {
    display: flex;
    flex-direction: column;
    
}
div#0 {
    display:flex;
}
p {
    width: 100%;
    justify-content: center;
}
#display_movies {
    display:flex;
    flex-direction: row;
    justify-content: center;
}
#logo{
    max-height: 300px;
    max-width: 774.3px;
}

footer {
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items:flex-end;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    position: fixed;
  }


  
  footer p {
    font-weight: 500;
    font-size: 1rem;
    color: var(--grey);
    align-self: center;
  }

/*Front Page CSS stuffs*/
#Image{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.frontContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.frontpagelogo {
    height: 300px;
    width: 774px;
}
#buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 20px;
}
.mainbutton {
  align-items: center;
  background-color: #ffdfd3;
  border: 2px solid #111;
  border-radius: 8px;
  box-sizing: border-box;
  color: #111;
  cursor: pointer;
  display: flex;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  height: 48px;
  justify-content: center;
  line-height: 24px;
  max-width: 100%;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.mainbutton:after {
  background-color: #111;
  border-radius: 8px;
  content: "";
  display: block;
  height: 48px;
  left: 0;
  width: 100%;
  position: absolute;
  top: -2px;
  transform: translate(8px, 8px);
  transition: transform .2s ease-out;
  z-index: -1;
}

.mainbutton:hover:after {
  transform: translate(0, 0);
}

.mainbutton:active {
  background-color: #ffdeda;
  outline: 0;
}

.mainbutton:hover {
  outline: 0;
}
