body {
  margin: 0%;
  padding: 0%;
  background: radial-gradient(circle, white, red);
  height: 100vh;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

h3 {
  text-align: center;
  font-family: 'Lato', sans-serif;
}

h1 {
  position: relative;
  text-align: center;
  font-family: 'Lato', sans-serif;
  align-self: flex-start;
  width: 500px;
}

.container {
  display: flex;
  justify-content: center;
}

main {
  display: flex;
  flex-direction: column;
}

div#0 {
  display: flex;
}

p {
  width: 100%;
  justify-content: center;
  font-family: 'Lato', serif;
}

.Movies {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  /* flex-wrap: wrap; */
  transition: box-shadow 0.2s;
  width: 500px;
  /* height: 500px; */
  margin: 50px;
  border-radius: 10px;
  border: 1px solid #ccc;
  background: #fff44f;
  float: left;
  transition: box-shadow 0.2s;
}

.Movies div {
  padding: 5%;
  /* height: 500px; */
  margin: 50px;
  border-radius: 10px;
  border: 1px solid #ccc;
  background: #fff;
  float: left;
}
.options {
  display: flex;
  justify-content: space-around;
}
section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Movies:hover {
  box-shadow: 0 0 15px rgba(33, 33, 33, 0.2);
}

#logo {
  max-height: 300px;
  max-width: 774.3px;
}

#display_movie button {
  height: 3px;
  width: 3px;
}

footer {
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}

footer p {
  font-weight: 500;
  font-size: 1rem;
  color: var(--grey);
  align-self: center;
}

/*Nav Bar*/
/* Dropdown Button */
.dropbtn {
  align-items: center;
  background-color: #fff44f;
  border: 2px solid #111;
  border-radius: 8px;
  box-sizing: border-box;
  color: #111;
  cursor: pointer;
  display: flex;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  height: 48px;
  justify-content: center;
  line-height: 24px;
  max-width: 100%;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
.dropbtn:after {
  background-color: #111;
  border-radius: 8px;
  content: '';
  display: block;
  height: 48px;
  left: 0;
  width: 100%;
  position: absolute;
  top: -2px;
  transform: translate(8px, 8px);
  transition: transform 0.2s ease-out;
  z-index: -1;
}
.dropbtn:hover:after {
  transform: translate(0, 0);
}

.dropbtn:active {
  background-color: #ffdeda;
  outline: 0;
}

.dropbtn:hover {
  outline: 0;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.extra-content-ratings {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.extra-content-year {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.ratings {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.year {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.extra-content-ratings a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.extra-content-year a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: #fdfd96;
}

img {
  display: block;
  max-width: 589px;
  max-height: 300px;
  width: auto;
  height: auto;
}
