body {
    margin: 0%;
    padding: 0%;
    background: radial-gradient(circle,white,red);
    height: 100vh;
}
h3{
  text-align: center;
  font-family: 'Lato', sans-serif;
}
h1{
  position: relative;
  text-align: center;
  font-family: 'Lato', sans-serif;
  align-self: flex-start;
  width: 500px;
}


.container{
    display: flex;
    justify-content: center;
    
}
main {
    display: flex;
    flex-direction: column;
    
}
div#0 {
    display:flex;
}
p {
    width: 100%;
    justify-content: center;
    font-family: 'Lato', serif;
}
.Movies {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  /* flex-wrap: wrap; */
  transition: box-shadow .2s;
  width: 500px;
  /* height: 500px; */
  margin: 50px;
  border-radius: 10px;
  border: 1px solid #ccc;
  background: #fff;
  float: left;
  transition: box-shadow .2s;
}
.Movies div {
  
  padding: 5%;
  /* height: 500px; */
  margin: 50px;
  border-radius: 10px;
  border: 1px solid #ccc;
  background: #fff;
  float: left;
  
}
section {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Movies:hover {
  box-shadow: 0 0 15px rgba(33,33,33,.2); 
}
#logo{
    max-height: 300px;
    max-width: 774.3px;
}
#display_movie button{
  height: 3px;
  width: 3px;
}

footer {
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items:flex-end;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
  }


  
  footer p {
    font-weight: 500;
    font-size: 1rem;
    color: var(--grey);
    align-self: center;
  }

/*Front Page CSS stuffs*/
#Image{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.frontContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.frontpagelogo {
    height: 300px;
    width: 774px;
}
#buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 20px;
}
.mainbutton {
  align-items: center;
  background-color: #ffdfd3;
  border: 2px solid #111;
  border-radius: 8px;
  box-sizing: border-box;
  color: #111;
  cursor: pointer;
  display: flex;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  height: 48px;
  justify-content: center;
  line-height: 24px;
  max-width: 100%;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.mainbutton:after {
  background-color: #111;
  border-radius: 8px;
  content: "";
  display: block;
  height: 48px;
  left: 0;
  width: 100%;
  position: absolute;
  top: -2px;
  transform: translate(8px, 8px);
  transition: transform .2s ease-out;
  z-index: -1;
}

.mainbutton:hover:after {
  transform: translate(0, 0);
}

.mainbutton:active {
  background-color: #ffdeda;
  outline: 0;
}

.mainbutton:hover {
  outline: 0;
}

img {
  display: block;
  max-width:123px;
  max-height:300px;
  width: auto;
  height: auto;
}

